div{
    color: blanchedalmond;
    text-align: center;
    background-color:red;
}
#h2{
    color: greenyellow;
    text-align: center;
    background-color: purple;
}
.h3{
    color:pink;
    text-align: center;
    background-color: blue;
}